#{
    margin: a;
    padding: a;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;

}
.all.content{
    background: #f7f5f2;
}
html ::-webkit-scrollbar-track{
    background: transparent;
}
html  ::-webkit-scrollbar-thumb{
    background: #b2744c
    border-radius: 10px;
}
html  ::-webkit-scrollbar-{
width: 10px;
height: 10px;
}

/* navbar start */
#navbar{
    background-color: #b2744c;
     }
     #logo img{
        border-radius: 10px;
        width: 100px;
        margin-left: 40px;
     }
     .navbar-nav{
        margin-left: 50px;
     }
     .nav-item .nav-link{
        color: black;
        margin-left: 10px;
        font-weight: bold;
        transition: 0.5s;
     }
     .nav-item .nav-link:hover{
        background: #f7f5f2;
        border-radius: 5px;
        color:black;
     }
     #navbar form button{
        background: black;
        color: white;
        border: 1px solid white;
     }
/* navbar end */

/* home section start */
#home{
    width: 100%;
    height: 100vh;
    background-image: url(../images/Screenshot\ \(60\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#home .content{
    padding-top: 210px;
    margin-left: 50px;
}
#home .content h3{
    font-size: 50px;
    color: black;
}
#home .content p{
    margin-top: 10px;
    color: black;
}
#btn{
    width: 150px;
    height: 36px;
    margin-top: 20px;
    background: white;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;

}

#btn:hover{
    background: #b2744c;
    color:white;
}
/* home section end */




/* about section start */
#about{
    width: 100%;
    height: 100vh;

}
#about .container{
    padding-top: 20px;
}
.heading{
    text-align: center;
    margin-bottom: 50px;
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.heading span{
    color: #b2744c;
}
/* about section end */

/* service section start */

.card{
    background-color: var(--warning-color);
}

/* service section end */


/* product section start */
#product{
    width: 100%;
}
.headings{
    text-align: center;
    color: 30px;
    font-size: 30px;
    font-weight: bold;
    padding-top: 70px;
    border-bottom: 2px solid #b2744c;
}
#container3{
    margin-top: 30px;
}
#product h3{
    text-align: center;
    color: #b2744c;
    font-size: 23px;
}
#product p{
    color: #b2744c;
    padding-top: 10px;
}
#product p span{
    float: right;
    cursor: pointer;
}
/* product section end */

/* gallery section start */
#gallery{
    width: 100%;
}
.heading5{
    text-align: center;
    color: black;
    margin-top: 60px;
    font-size: 30px;
    font-weight: bold;
}
#gallery .heading5 span{
    color: #b2744c;
}
#gallery .card{
    border-radius: 10px;
    cursor: pointer;
}

/* gallery section end */

contact-us-section{
    background-color: var(--warning-color);
    color: var(--primary-color);
    border-radius: 5px;
    letter-spacing: 12
}

.footer-section{
    border-style:double;
    text-align:center;
}

.image{
    /* height: 250px; */
    width: 100%;
}